.intro
    .container
        .section-header.section-header_right
            .section-header__container
                h1.section-header__title.section-header__title_pattern Кейс по разработке интернет-магазина современной живописи:
                    small.section-header__caption техническая реализация
        .section-desc.intro__section-desc
            .section-desc__text.section-desc__text_line
                p: b задача:
                p разработка сайта для оптовой и розничной продажи картин профессиональных современных художников «Русская коллекция»
            .section-desc__text
                p: b адрес сайта:
                p: a(href="https://russiancollection.ru/" target="_blank") https://russiancollection.ru/
            .section-desc__text
                p: b цена:
                p: span 198 000
            .section-desc__text
                p: b тариф:
                p «Интернет-магазин» + доп. работы
        .intro-logo: img(src="./img/intro/intro_logo.png" alt="#")
    .intro-mokups
        .intro-mokup__image.intro-mokup__image_first.slide-left: img(src="./img/intro/intro_mockup_2.png" alt="#")
        .intro-mokup__image.intro-mokup__image_second.slide-right: img(src="./img/intro/intro_mockup_1.png" alt="#")