.template
    .container
        .section-header
            .section-header__container
                h2.section-header__title Настройка cms
                p.section-header__step Общий шаблон сайта, главная страница
        .settings__row.row
            .col-md-6
                .section-desc
                    .section-desc__text.section-desc__text_line
                        .row.no-gutters
                            .col-1: img(src="./img/settings/template/icons/1.png" alt="#")
                            .col-9
                                p установили bitrix #[br]на хостинг timeweb.com
                    .section-desc__text.section-desc__text_line
                        .row.no-gutters
                            .col-1: img(src="./img/settings/template/icons/2.png" alt="#")
                            .col-9
                                p создали общий шаблон #[br]и структуру сайта
                    .section-desc__text.section-desc__text_line
                        .row.no-gutters
                            .col-1: img(src="./img/settings/template/icons/3.png" alt="#")
                            .col-9
                                p перенесли верстку главной страницы, настроили компоненты вывода меню и слайдера
        .section__nav: a(href="javascript:;") дальше