.review
    .container
        .section-header
            .section-header__container
                h2.section-header__title Отзыв клиента
        .review-desc.col-md-9.slide-left
            p.review-desc__text Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на&nbsp;содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст,
            p.review-desc__name Роман Романов
            p.review-desc__link russiancollection.ru