.catalog
    .container
        .section-header
            .section-header__container
                h2.section-header__title Настройка cms
                p.section-header__step Каталог товаров
        .section-desc.catalog__section-desc
            .absolute-text
                .section-desc__text.section-desc__text_line.absolute-text__item.absolute-text__position_first
                    p настроили фильтрацию по&nbsp;жанрам
                .section-desc__text.section-desc__text_line.absolute-text__item.absolute-text__position_second
                    p создали разделы с&nbsp;описанием
                .section-desc__text.section-desc__text_line.absolute-text__item.absolute-text__position_third
                    p настроили общий вид каталога, вывод товаров из разделов
            .absolute-images
                .absolute-images__item.absolute-images__item_catalog.slider-slide-left: img(src="./img/settings/catalog/images/catalog.png" alt="#")
                .absolute-images__item.absolute-images__item_description.slider-slide-right: img(src="./img/settings/catalog/images/description.png" alt="#")
                .absolute-images__item.absolute-images__item_filter.slider-slide-right: img(src="./img/settings/catalog/images/filter.png" alt="#")
                .absolute-images__item.absolute-images__item_card.slider-slide-right: img(src="./img/settings/catalog/images/card.png" alt="#")
        .section__nav: a(href="javascript:;") дальше