.product
    .container
        .section-header
            .section-header__container
                h2.section-header__title Настройка cms
                p.section-header__step Карточка товара
        .gallsery-slider
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc
                            .section-desc__text.section-desc__text_line
                                p Добавили возможность #[br]отобразить картину в 3D
                    .col-md-8.gallsery-slider__image: img(src="./img/settings/product/1.jpg")
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc
                            .section-desc__text.section-desc__text_line
                                p Для картин на бумаге есть возможность выбора багета (новый багет добавляется в панели администрирования, в карточке отображаются в виде характеристик товара)
                    .col-md-8.gallsery-slider__image: img(src="./img/settings/product/cart.gif")
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc
                            .section-desc__text.section-desc__text_line
                                p Добавили вНастроили торговые предложения с автоматической генерацией (всевозможные вариации товара в зависимости от характеристик)
                    .col-md-8.gallsery-slider__image: img(src="./img/settings/product/3.jpg")
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc
                            .section-desc__text.section-desc__text_line
                                p в карточке выводятся характеристики товара (артикул, художник, жанр)
                    .col-md-8.gallsery-slider__image: img(src="./img/settings/product/4.jpg")
        .section__nav: a(href="javascript:;") дальше