.settings
    .container
        .section-header
            .section-header__container
                h2.section-header__title Настройка cms
                p.section-header__text включает в себя установку cms на хостинг, перенос верстки #[br]и реализацию спроектированного функционала
        .settings__row.row
            .col-md-6.offset-md-6
                .section-desc
                    ul.section-desc__list
                        li Для решения поставленной задачи была выбрана cms bitrix, редакция «Малый бизнес»
                        li Потребовалось сменить хостинг, поскольку текущий не удовлетворял требованиям bitrix
                    .section-desc__image: img(src="./img/settings/bitrix.png" alt="#")