.seo
    .container
        .section-header
            .section-header__container
                h2.section-header__title SEO оптимизация
                p.section-header__text Провели базовые работы по оптимизации:
        .gallsery-slider
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc.seo__section-desc
                            ul.section-desc__list-line
                                li настроили протокол https
                                li настроили редирект с www.russiancollection.ru на russiancollection.ru
                                li создали карту сайта (sitemap.xml)
                                li добавили файл robots.txt
                                li создали страницу 404 ошибки
                                li настроили Яндекс.Вебмастер
                                li добавили счетчик Яндекс.Метрики и настроили цели для отслеживания конверсии
                                li в формы обратной связи добавили согласие на обработку персональных данных
                            .section-desc__text.section-desc__text_line
                                p В итоге наш клиент получил не&nbsp;только красивый и удобный сайт, но и оптимизированный для&nbsp;поисковых систем.
                            a(href="#").section-desc__red-link Отзыв клиента
                    .col-md-8.gallsery-slider__image: img(src="./img/seo/images/3.jpg")
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc.seo__section-desc
                            ul.section-desc__list-line
                                li настроили протокол https
                                li настроили редирект с www.russiancollection.ru на russiancollection.ru
                                li создали карту сайта (sitemap.xml)
                                li добавили файл robots.txt
                                li создали страницу 404 ошибки
                                li настроили Яндекс.Вебмастер
                                li добавили счетчик Яндекс.Метрики и настроили цели для отслеживания конверсии
                                li в формы обратной связи добавили согласие на обработку персональных данных
                            .section-desc__text.section-desc__text_line
                                p В итоге наш клиент получил не&nbsp;только красивый и удобный сайт, но и оптимизированный для&nbsp;поисковых систем.
                            a(href="#").section-desc__red-link Отзыв клиента
                    .col-md-8.gallsery-slider__image: img(src="./img/seo/images/2.jpg")
            .gallsery-slider__item
                .row
                    .col-md-4
                        .section-desc.seo__section-desc
                            ul.section-desc__list-line
                                li настроили протокол https
                                li настроили редирект с www.russiancollection.ru на russiancollection.ru
                                li создали карту сайта (sitemap.xml)
                                li добавили файл robots.txt
                                li создали страницу 404 ошибки
                                li настроили Яндекс.Вебмастер
                                li добавили счетчик Яндекс.Метрики и настроили цели для отслеживания конверсии
                                li в формы обратной связи добавили согласие на обработку персональных данных
                            .section-desc__text.section-desc__text_line
                                p В итоге наш клиент получил не&nbsp;только красивый и удобный сайт, но и оптимизированный для&nbsp;поисковых систем.
                            a(href="#").section-desc__red-link Отзыв клиента
                    .col-md-8.gallsery-slider__image: img(src="./img/seo/images/1.jpg")