.markup
    .container
        .section-header.markup__section-header
            .section-header__container
                h2.section-header__title Вёрстка
                p.section-header__text По макетам сверстали кроссбраузерные #[br]адаптивные страницы
        .markup-devices
            .markup-devices__item.markup-devices__item_desktop.slide-left: img(src="./img/markup/desktop.png" alt="#")
            .markup-devices__item.markup-devices__item_mobile.slide-left: img(src="./img/markup/mobile.png" alt="#")
            .markup-devices__item.markup-devices__item_tablet.slide-left: img(src="./img/markup/tablet.png" alt="#")