.prepare
    .container
        .section-header
            .section-header__container
                h2.section-header__title Подготовительные этапы
                p.section-header__text Разработка сайта представляет собой комплексный процесс. До начала технических работ было выполнено следующее:
        .section-desc.prepare__section-desc
            .section-desc__row.row.no-gutters
                .col-md-6
                    .section-desc__text.section-desc__text_line
                        .row.no-gutters
                            .col-1: img(src="./img/prepare/1.png" alt="#")
                            .col-9
                                p: strong Семантическое  проектирование
                                p подобрали ключевые слова для&nbsp;продвижения, разработали структуру сайта
                .col-md-6
                    .section-desc__text.section-desc__text_line
                        .row.no-gutters
                            .col-1: img(src="./img/prepare/2.png" alt="#")
                            .col-9
                                p: strong Индивидуальный дизайн
                                p на основе wireframe и написанных текстов разработали дизайн для&nbsp;главной страницы, каталога и карточки товара
            .section-desc__text.section-desc__text_line
                .row.no-gutters
                    .col-1: img(src="./img/prepare/3.png" alt="#")
                    .col-9
                        p: strong Wireframe
                        p разработали прототип для
                        ol
                            li: a(href="#") главной страницы
                            li: a(href="#") страницы каталога
                            li: a(href="#") карточки товара
            .section-desc__text.section-desc__text_line
                .row.no-gutters
                    .col-1: img(src="./img/prepare/4.png" alt="#")
                    .col-9
                        p: strong Копирайтинг
                        p написали текст для&nbsp;главной страницы и для&nbsp;15 внутренних страниц