/*---- Screen sizes ----*/
$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1099px;

/*----Colors scheme----*/
$color-red: #990000;
$color-black: #282828;
$color-blue: #23379e;
$color-grey: #5e5e5e;
$color-lightGrey: #f4f4f4;
