/*---- Screen sizes ----*/
$screen-xs: 375px;
$screen-sm: 560px;
$screen-x-sm: 768px;
$screen-md: 1024px;
$screen-x-md: 1200px;
$screen-lg: 1400px;
$screen-x-lg: 1700px;

/*----Colors scheme----*/
$color-pink: #d5389c;
$color-black: #2c2c2c;
$color-grey: #8d8a90;
